<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Assignment Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/guestBook.css"">

</head>
<body class="container">
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook, Express Yourself!
</a>
</h1></br>
<p><a href="/home" style="font-size:20px">Home</a></p>