<!DOCTYPE html>
<head lang="en">

	<title>Home</title>
    <link rel="stylesheet" type="text/css" href="Home.css">
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="Home.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	
</head>
<body>
<div class="container">
	<div class="row order">
	<div class="col-md-12">
		<ul class="nav nav-tabs menu">
			<li role="presentation" class="active"><a href="/home">Home</a></li>
			<li role="presentation"><a href="/order">About</a></li>				
			<li role="presentation"><a href="/about">Contact</a></li>
			<li role="presentation"><a href="/index">GuestBook</a></li>
		</ul>	
		<div class="col-md-12 home">	
				<h1 class="h1">The Ice Cream Company</h1>
		<div class="col-md-6 ">
				<p id=first>Since 1979, our shop has been delighting kids and adults of all ages with fantastic homemade ice creams, mouthwatering soups, salads and sandwiches, and a friendly atmosphere that makes everyone feel right at home.</p> 
				<p id=second>We Have helped countless customers make wonderful memories, and we can not wait to do the same for you! Stop in anytime to enjoy a delicious meal and ice cream in our remodeled dining room, or take home a hand packed quart of your favorite flavor. Our friendly staff, comfortable shop, and the best ice cream in town are guaranteed to please!</p>
		</div>
			
		<div class="col-md-6">
		<div class="row embed-responsive embed-responsive-4by3">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bcy9heYFPtU"  allowfullscreen></ifram>
			
		</div>
		
		</div>
					
	</div>  
</div>
</div>
</body>
</html>	
